extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Name
        h1 Dawid Jacobs

        //- Title
        p Jnr Full Stack Web Developer


        .about-bio

          //- Elevator pitch
          p Early in 2021, I realized that I would never be genuinely happy if I didn't follow my true passion, so I made the decision to persue becoming a #[strong Full Stack Web Developer]. I am currently busy with my Full Stack JavaScript Developer TechDegree from Treehouse. This covers all aspects of #[strong web development], using #[strong HTML, CSS and JavaScript]. This also covers #[strong popular frameworks] such as #[strong React and NodeJS]. Ideally, I would love to work in an environment where I can make use of, and further develop my current skills while continuing with my part time studies. I have the perfect setup to be working remotely and my #[strong excellent communication skills and self-discipline would certainly be an advantage]. I have always been a techie by heart and I love a good challenge. I have developed a lot of soft skills that will definitely be a benefit when it comes to communication, documentation, attention to detail, customer service, managing systems and team work. #[strong I strive to learn all I can] , whether it comes with experience or through certification. 


      .skills-contact-box.box
        h6 Skills

        //- Skillset
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Functional Programming
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- Contact Info
        ul
          li 082-318-3089
          li dawidjacoba@gmail.com

        //- Social media links
        a.btn-link.btn-linkedIn(href='https://www.linkedin.com/in/dawid-jacobs-ab16011a2/', target="_blank") LinkedIn
        a.btn-link.btn-github(href='https://github.com/Dawid2803', target="_blank") GitHub
        a.btn-link.btn-twitter(href='https://twitter.com/dawid14406061', target="_blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back