extends layout.pug

block content

  article.portfolio-intro

    //- Portfolio heading 
    h1 My Portfolio

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p Take a look at the projects I have created!


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projectData.projects
        .cell
          a(href= `projects/${project.id}`)
              img.thumbnail(src= project.image_urls[0], alt= project.project_name)
              h5 #{project.project_name}
